<footer class="bg-gray-200">
    <div class="px-20 py-10">
        <h3 class="text-4xl mb-2">Get The FreshCart App</h3>
        <p>We Will Send You a Link, Open it on Your Phone to download this app</p>
        <div class="form w-full p-2 py-4">
            <input type="email" placeholder="Email" class="w-[83%] me-5 p-1 border-gray-400 border-2 rounded-md">
            <button class="bg-[#0aad0a] p-2 rounded-lg px-9 text-white">Share App Link</button>
            <hr class="bg-gray-700">
            <div class="payment py-2 border-t-2 border-gray-300 mt-5 py-7 w-full flex justify-between border-b-2">
                <ul class="flex items-center gap-4">
                    <li>Payment partners</li>
                    <li><img src="assets/images/amazon-pay.png" class="w-8" alt=""></li>
                    <li><img src="assets/images/mastercard.webp" class="w-8" alt=""></li>
                    <li><img src="assets/images/paypal.png" class="w-8" alt=""></li>
                    <li><img src="assets/images/American-Express-Color.png" class="w-8" alt=""></li>
                </ul>
                <ul class="flex items-center gap-4">
                    <li>Get Deliveries with FreshCart</li>
                    <li><img src="../../../../assets/images/get-google-play.png" class="w-24" alt=""></li>
                    <li><img src="../../../../assets/images/get-apple-store.png" class="w-24" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
